@charset "utf-8";

main{}
section:not(#visual_slide){
  margin:0px auto;
}
#visual_slide{
  height:100vh;
}
#visual_slide > h2{display:none;}
#visual_slide div{position:relative}
#visual_slide div:first-of-type{z-index:10;}
#visual_slide div:nth-of-type(2){z-index:9;}
#visual_slide div:last-of-type{z-index:8;}
#visual_slide div span{
  position:absolute;
  font-size:40px;color:var(--f-color02);
  font-weight:bold;
  line-height:50px;
  text-shadow: 0px 0px 4px #ccc;
  top:280px;left:3%;
}
#visual_slide div span{z-index:10;}
#visual_slide div img{
  position:absolute;
  width:100%;height:100vh;
}
.sns{
  position:absolute;
	top:420px;left:3%;
	z-index: 10;
}
.sns > li{
  display:inline;
  border:1px solid var(--f-color02);
  padding:10px 8px 6px 8px;
}
.sns > li:hover{
  background:var(--f-color02);
}
.sns > li:hover i.fab{
		color:#ff8900;
}
.sns i.fab{color:#fff;font-size:20px;}
/* 좌, 우버튼 서식 */
.s_btn{
  position:absolute;
  top:70%;left:3%;
  display: flex;z-index:20;
}
.s_btn > li{
  background-color:#f2f2f2;
  padding:12px 6px;
  margin-right:10px;
}
/* 콘트롤 버튼 서식 */
#visual_slide .ctrl_btn{
  position:absolute;
  right:1.5%;top:45%;
  z-index: 1000;
}
#visual_slide .ctrl_btn > li{
  width:15px;height:15px;
  border-radius:50%;
  background:var(--f-color02);
  margin-bottom:10px;
  cursor: pointer;
}
.on{background-color:#742406 !important;}


/* 2. 뉴스콘텐츠 서식 */
#news{
  width:1200px;
  padding:100px 0px;
  display:flex;
}

/* 플로트 속성이 적용된 자식요소의 부모요소 높이를 살리기 위한 속성*/
.clearfix::after{  
  clear:both;
  display:block;
  content:"";
}

#news article:first-child{
  width:650px;
  /* float:left; */
}
#news article:last-child{
  width:450px;
  padding-left:30px;
  /* float:left; */
}
#news iframe{width:650px;height:320px;}
  
.c_title{
font-size:32px;
font-weight:bold;
margin-bottom:20px;
}
#news article h2 > span{
  font-size:20px;
  display:block;
}

/* 목록기호 */
#news i.far{
  color:#ff9d00;
  padding-right:6px;
  font-size:16px;
}
#news ul{}
#news ul li{
  text-overflow:ellipsis; /* 생략기호 나오게 */
  white-space: nowrap;/* 글자를 다음줄로 안넘기게함 */
  overflow:hidden; /* 영역을 벗어난 콘텐츠는 숨긴다. */
}
#news ul li a{
  font-size:var(--f-size02);
  line-height:190%;
}

/* 탭콘텐츠 */
#tab_con{
  background:#e6e6e6;
}
.tcon{
  width:1200px;height:600px;
  margin:var(--m-auto);
  background-image:url('../images/mcon2_7.png');
  background-repeat:no-repeat;
  background-position:center right;
  overflow:hidden;
}
.tcon{
  padding:50px 0px;
}
#tab_con ul{
  width:650px;
  padding-top:30px;
  position:relative;
  display:flex;
}
#tab_con ul li{
  margin-right:10px;
}
#tab_con ul li a{
  background:var(--bg-color02);
  color:var(--f-color02);
  padding:10px 25px;
  font-size:var(--t-size02);
}
#tab_con .cont{
  position:absolute;
  left:0px;top:80px;
  font-size:16px;
  padding:10px;
  line-height:200%;
  color:#626262;
  display:none;
}
#tab_con .cont span{
  font-size:22px;
  display:block;
  font-weight:bold;
  padding-bottom:10px;
}
#tab_con img{
  width:600px;
}
/* 탭메뉴 클릭시 적용되는 서식 */
.tab_on{
  background-color:#e34600 !important;
}

/* 4. 제품소개 */
#product{
	width:100%;
	background-color:#f7cf4b;
	padding:60px 0px;
}
#product article{
	width:1200px;margin:0px auto;
	padding:40px 0px;
}
#product article h2{
	font-size:34px;
	font-weight:bold;
	padding-bottom:20px;
}
#product ul{	display:flex; justify-content: center;	}
#product ul li{
	width:370px;
	padding:0px 20px;
	text-align:center;
}
#product ul li img{width:80%;}

/* 텍스트 서식 */
#product ul li h3{
	font-size:24px;
	font-weight:bold;
	padding:10px 0px;
	text-align:left;
	border-bottom:1px solid #986c02;
}
#product ul li p{
	padding-top:10px;
	text-align:left;
	font-size:14px;
	line-height:180%;
	font-weight:bold;
	color:#986c02;
}